@media only screen and (max-width: 320px){
  html{
    font-size: 16px;
  }
}
@media only screen and (width: 360px){
  html{
    font-size: 18px;
  }
}
@media only screen and (width: 375px){
  html{
    font-size: 18.75px;
  }
}
@media only screen and (width: 400px){
  html{
    font-size: 20px;
  }
}
@media only screen and (width: 412px){
  html{
    font-size: 20.6px;
  }
}
@media only screen and (width: 414px){
  html{
    font-size: 20.7px;
  }
}
@media only screen and (min-width: 640px){
  html{
    font-size: 32px;
  }
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
button{
  outline:none;
  border: 1px solid transparent;
  padding:0;
}
.main-img{
  display: block;
  width: 100%;
}
.center{
  position: relative;
}
.center .center-img{
  display: block;
  width: 100%;
}
.center .con-taobao{
  position: absolute;
  left: 0;
  bottom :0;
  width: 100%;
}
.center .con-taobao .tips{
  line-height: .7rem;
  font-size:.6rem;
  color:rgba(255,255,255,.8);
  text-align: center;
}
.center .con-taobao .tips:after{
  content:'.';
  width: 18rem;
  display: inline-block;
  overflow: hidden;
  height: 0;
}
.center .con-taobao .taobao-word{
  margin: 0 auto;
  width: 18rem;
  height: 5.5rem;
  text-align: justify;
  font-size: .7rem;
  padding:.6rem;
  line-height: 1.2rem;
  background: url("../images/taobaoword2.png") no-repeat;
  background-size: 18rem 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgba(255,234,53,.8);
}
.center .con-taobao .taobao-word span{
  display: inline-block;
  width:17rem;
  line-height: 1.2rem;
}
.center .con-taobao .btn-wrapper{
  text-align: center;
}
.center .con-taobao .btn-wrapper .btn{
  margin-top:2px;
  width: 55%;
}
.bottom .bottom-img{
  display: block;
  width: 100%;
}
.logo img{
  width: 100%;
  display: block;
}
.dialog{
  position: fixed;
  bottom:0;
  left: 0;
  top:0;
  width:100%;
  background-color:rgba(0,0,0,.3);;
  display: none;
}
.dia-content{
  width: 220px;
  height: 140px;
  position: absolute;
  background-color: #FFFFFF;
  left:50%;
  top:50%;
  margin-left:-110px;
  margin-top:-70px;
  text-align: center;
  font-size: .8rem;
  color: #666;
  box-sizing: border-box;
  border-radius: 5px;
}
.dia-content.special{
  height: 156px;
  margin-top:-78px;
}
.dia-content p{
  margin: 0;
  padding: 0;
}
.dia-content p.text{
  line-height: 45px;
  font-size:.8rem;
  color: #7B7B7B;
}
.dia-content .fail-text{
  font-size:14px;
  line-height: 25px;
  color: #7B7B7B;
}
.dia-content .fail-text.special{
  margin-top:10px;
}
.dia-content p.cmd-success{
  line-height: 40px;
  background: url("../images/success.png") no-repeat left top;
  background-size: 100% 100%;
  color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dia-content p.cmd-fail{
  line-height: 40px;
  background: url("../images/fail.png") no-repeat left top;
  background-size: 100% 100%;
  color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dia-content p.btn{
  line-height: 40px;
}
.dia-content button{
  background-color: #F3233C;
  color:#FFFFFF;
  width: 120px;
  line-height: 25px;
  border-radius: 20px;
}
.dia-content button.dia-close{
  position: absolute;
  right: -10px;
  top:-10px;
  width: 22px;
  height: 22px;
  background: url("../images/close.png") no-repeat;
  background-size: 100% 100%;
  border-radius:50%;
  z-index: 999;
}

